In [19]:
import pandas as pd
import nltk
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import TfidfVectorizer
#from sklearn.cross_validation import train_test_split
from sklearn.model_selection import train_test_split
from sklearn import naive_bayes
from sklearn.metrics import roc_auc_score

In [20]:
df = pd.read_csv("logistics.csv")

In [21]:
df.head()

                                            Review Sentiment
0             Good and fast service And Recommend   Positive
1  Disgusting service, i Hat this courier company   Negative
2                           Very very bad service   Negative
3                               Excellent service   Positive
4        Their service is so good  I am satisfied   Positive

In [29]:
#TFIDF vectorizer
stopset = set(stopwords.words('english'))
vectorizer = TfidfVectorizer(use_idf=True, lowercase=True, strip_accents='ascii',stop_words=stopset)

In [30]:
df2 = df.loc[df['Sentiment']== 'Positive', "liked"] = "1"
df2 = df.loc[df['Sentiment']== 'Negative', "liked"] = "0"

In [31]:
final_df=df.astype(str)

In [32]:
final_df.head()

                                            Review Sentiment liked
0             Good and fast service And Recommend   Positive     1
1  Disgusting service, i Hat this courier company   Negative     0
2                           Very very bad service   Negative     0
3                               Excellent service   Positive     1
4        Their service is so good  I am satisfied   Positive     1

In [33]:
final_df.to_csv('Review with 1 and 0 value.csv')

In [34]:
#there 1 means positive 0 means Negative
y = final_df.liked

In [36]:
X = vectorizer.fit_transform(final_df.Review)

In [37]:
print(y.shape)
print(X.shape)

(10153,)
(10153, 14682)

In [38]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [41]:
#Train Naive bayes classifier
clf = naive_bayes.MultinomialNB()
clf.fit(X_train, y_train)

MultinomialNB()

In [42]:
#test our model
roc_auc_score(y_test, clf.predict_proba(X_test)[:,1])

0.8744553295721885

In [44]:
df2.head()

AttributeError: 'str' object has no attribute 'head'